@using global::TicTacToe.Shared.Constants

<div class="menu-container mt-20">
    <h1 class="header">Tic Tac Toe</h1>
    <div class="menu-buttons">
        <button class="menu-button" @onclick="() => StartGame(GameType.AI)">AI</button>
        <button class="menu-button" @onclick="() => StartGame(GameType.TwoPlayer)">2 Player</button>
        <button disabled class="menu-button disabled" @onclick="() => StartGame(GameType.Online)">Online</button>
    </div>
</div>
